*{
   margin:0;
   padding:0;
}

/*html {
   background-image:url('images/wood4.jpg');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}*/

body {
   /*background-image: url('images/wood4.jpg');*/
   background-size: 100%;
   font-family:"Arial Black", Gadget, sans-serif;
   /*color:#444;*/
   font-size:12px;
   color: #000;
   overflow: scroll;
}

/*============= M E D I A - Q U E R I E S =============*/
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	iframe.redskins{
        -moz-transform: scale(1.00, 1.00);
        -webkit-transform: scale(1.00, 1.00);
    	-o-transform: scale(1.00, 1.00);
   	-ms-transform: scale(1.00, 1.00);
    	transform: scale(1.00, 1.00);
    	-moz-transform-origin: top left;
    	-webkit-transform-origin: top left;
    	-o-transform-origin: top left;
    	-ms-transform-origin: top left;
    	transform-origin: top left;
	}
}*/
@media only screen 
and (max-width : 320px) {
	html {
		-moz-transform: scale(0.25, 0.25);
    		-webkit-transform: scale(0.25, 0.25);
    		-o-transform: scale(0.25, 0.25);
    		-ms-transform: scale(0.25, 0.25);
    		transform: scale(0.25, 0.25);
    		-moz-transform-origin: top left;
    		-webkit-transform-origin: top left;
    		-o-transform-origin: top left;
    		-ms-transform-origin: top left;
   		transform-origin: top left;
   		margin-left: 5px;
	}
}
/*@media only screen 
and (min-width : 320px) {
	html {
		-moz-transform: scale(0.90, 0.90);
    		-webkit-transform: scale(0.90, 0.90);
    		-o-transform: scale(0.90, 0.90);
    		-ms-transform: scale(0.90, 0.90);
    		transform: scale(0.90, 0.90);
    		-moz-transform-origin: top left;
    		-webkit-transform-origin: top left;
    		-o-transform-origin: top left;
    		-ms-transform-origin: top left;
   		transform-origin: top left;
   		margin-left: 100px;
	}
}*/
@media only screen 
and (min-width : 1200px) {
	html {
		-moz-transform: scale(1.10, 1.10);
    		-webkit-transform: scale(1.10, 1.10);
    		-o-transform: scale(1.10, 1.10);
    		-ms-transform: scale(1.10, 1.10);
    		transform: scale(1.10, 1.10);
    		-moz-transform-origin: top left;
    		-webkit-transform-origin: top left;
    		-o-transform-origin: top left;
    		-ms-transform-origin: top left;
   		transform-origin: top left;
   		margin-left: -200px;
	}
}
@media only screen 
and (min-width : 1424px) {
	html {
		-moz-transform: scale(1.30, 1.30);
    		-webkit-transform: scale(1.30, 1.30);
    		-o-transform: scale(1.30, 1.30);
    		-ms-transform: scale(1.30, 1.30);
    		transform: scale(1.30, 1.30);
    		-moz-transform-origin: top left;
    		-webkit-transform-origin: top left;
    		-o-transform-origin: top left;
    		-ms-transform-origin: top left;
   		transform-origin: top left;
   		margin-left: -600px;
	}
}
@media only screen 
and (min-width : 1600px) {
	html {
		-moz-transform: scale(1.30, 1.30);
    		-webkit-transform: scale(1.30, 1.30);
    		-o-transform: scale(1.30, 1.30);
    		-ms-transform: scale(1.30, 1.30);
    		transform: scale(1.30, 1.30);
    		-moz-transform-origin: top left;
    		-webkit-transform-origin: top left;
    		-o-transform-origin: top left;
    		-ms-transform-origin: top left;
   		transform-origin: top left;
   		margin-left: -800px;
	}
}
@media only screen 
and (min-width : 1800px) {
	html {
		-moz-transform: scale(1.40, 1.40);
    		-webkit-transform: scale(1.40, 1.40);
    		-o-transform: scale(1.40, 1.40);
    		-ms-transform: scale(1.40, 1.40);
    		transform: scale(1.40, 1.40);
    		-moz-transform-origin: top left;
    		-webkit-transform-origin: top left;
    		-o-transform-origin: top left;
    		-ms-transform-origin: top left;
   		transform-origin: top left;
   		margin-left: -1200px;
	}
}
@media only screen 
and (min-width : 2000px) {
	html {
		-moz-transform: scale(1.40, 1.40);
    		-webkit-transform: scale(1.40, 1.40);
    		-o-transform: scale(1.40, 1.40);
    		-ms-transform: scale(1.40, 1.40);
    		transform: scale(1.40, 1.40);
    		-moz-transform-origin: top left;
    		-webkit-transform-origin: top left;
    		-o-transform-origin: top left;
    		-ms-transform-origin: top left;
   		transform-origin: top left;
   		margin-left: -1300px;
	}
}
@media only screen 
and (min-width : 2200px) {
	html {
		-moz-transform: scale(1.40, 1.40);
    		-webkit-transform: scale(1.40, 1.40);
    		-o-transform: scale(1.40, 1.40);
    		-ms-transform: scale(1.40, 1.40);
    		transform: scale(1.40, 1.40);
    		-moz-transform-origin: top left;
    		-webkit-transform-origin: top left;
    		-o-transform-origin: top left;
    		-ms-transform-origin: top left;
   		transform-origin: top left;
   		margin-left: -1400px;
	}
}
@media only screen 
and (min-width : 2400px) {
	html {
		-moz-transform: scale(1.40, 1.40);
    		-webkit-transform: scale(1.40, 1.40);
    		-o-transform: scale(1.40, 1.40);
    		-ms-transform: scale(1.40, 1.40);
    		transform: scale(1.40, 1.40);
    		-moz-transform-origin: top left;
    		-webkit-transform-origin: top left;
    		-o-transform-origin: top left;
    		-ms-transform-origin: top left;
   		transform-origin: top left;
   		margin-left: -1500px;
	}
}

.overlay {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
  }

a{
   text-decoration:none;
}

a:visited{color:blue;}

.title {color:#000;
   text-shadow:#999999 0px 1px 0, #000 0 -1px 0;
   margin-top:0;
}

.title a:link{
   color:#000;
}

.title a:visited {color:#000; }

p{
   font-family:Arial, Helvetica, sans-serif;
}
h1{
   font-size:35px;
   margin:20px 0px 0px 20px;
}

table{
   margin-bottom:0;
   border-spacing: 5px 0px;
}

td{
   color: #FFFFFF;
   background-color:#210808;
   font-size:11px;
   border-style:solid 2px #000;
   border-radius:10px;
   padding:5px;
   font-weight:bold;
   opacity:0.8;
   box-shadow: 3px 3px 3px #000;
   font-family: "Courier New", Courier, monospace;
  
}

td a:link{color:#FFFFFF;}

td a:visited{color:#FFFFFF;}

iframe.dbk{
    -moz-transform: scale(0.59, 0.59);
    -webkit-transform: scale(0.59, 0.59);
    -o-transform: scale(0.59, 0.59);
    -ms-transform: scale(0.59, 0.59);
    transform: scale(0.59, 0.59);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

iframe.site{
    -moz-transform: scale(0.40, 0.50);
    -webkit-transform: scale(0.40, 0.50);
    -o-transform: scale(0.40, 0.50);
    -ms-transform: scale(0.40, 0.50);
    transform: scale(0.40, 0.50);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;

}

iframe.DP_site{
    -moz-transform: scale(0.62, 0.61);
    -webkit-transform: scale(0.62, 0.61);
    -o-transform: scale(0.62, 0.61);
    -ms-transform: scale(0.62, 0.61);
    transform: scale(0.62, 0.61);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}


iframe.vets_site{
    -moz-transform: scale(0.63, 0.65);
    -webkit-transform: scale(0.62, 0.61);
    -o-transform: scale(0.62, 0.61);
    -ms-transform: scale(0.62, 0.61);
    transform: scale(0.63, 0.65);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

iframe.video{
    -moz-transform: scale(0.59, 0.59);
    -webkit-transform: scale(0.59, 0.59);
    -o-transform: scale(0.59, 0.59);
    -ms-transform: scale(0.59, 0.59);
    transform: scale(0.59, 0.59);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

iframe.slides{
    -moz-transform: scale(0.55, 0.55);
    -webkit-transform: scale(0.55, 0.55);
    -o-transform: scale(0.55, 0.55);
    -ms-transform: scale(0.55, 0.55);
    transform: scale(0.55, 0.55);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

iframe.cns{
   -moz-transform: scale(0.58, 0.58);
    -webkit-transform: scale(0.58, 0.58);
    -o-transform: scale(0.58, 0.58);
    -ms-transform: scale(0.58, 0.58);
    transform: scale(0.58, 0.58);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

iframe.map{
   -moz-transform: scale(0.63, 0.63);
    -webkit-transform: scale(0.63, 0.63);
    -o-transform: scale(0.63, 0.63);
    -ms-transform: scale(0.63, 0.63);
    transform: scale(0.63, 0.63);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

iframe.love{
   -moz-transform: scale(0.80, 0.75);
    -webkit-transform: scale(0.80, 0.75);
    -o-transform: scale(0.80, 0.75);
    -ms-transform: scale(0.80, 0.75);
    transform: scale(0.80, 0.75);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

iframe.guns{
   -moz-transform: scale(0.63, 0.55);
    -webkit-transform: scale(0.63, 0.55);
    -o-transform: scale(0.63, 0.55);
    -ms-transform: scale(0.63, 0.55);
    transform: scale(0.63, 0.55);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

iframe.redskins{
   -moz-transform: scale(0.40, 0.50);
    -webkit-transform: scale(0.40, 0.50);
    -o-transform: scale(0.40, 0.50);
    -ms-transform: scale(0.40, 0.50);
    transform: scale(0.40, 0.50);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

.explainer {
   font-family: Baskerville, Times New Roman, Serif;
   font-size: 19px !important;
}

.full{
   font-size:10px;
   color: #FFFFFF !important;
   font-weight:bold;
   background-color:#3333FF;
   border-style:solid 2px #000;
   border-radius:10px;
   margin:0;
   padding:2px;
   position:absolute;
   right:5px;
   z-index:5;
   opacity: 0.80;
   width:100px;
   height:15px;
}

.full a:link{color:#FFFFFF;}

.full a:visited{color:#FFFFFF;}

#pnew {font-size: 24px;
   margin:10px;
   font-weight:bold;
   font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

span.reference{
   font-family:Arial;
   display:block;
   font-size:12px;
   text-align:center;
   margin-bottom:10px;
}
span.reference a{
   color:#000;
   text-transform:uppercase;
   text-decoration:none;
   margin:0px 20px;
}
span.reference a:hover{
   color:#ddd;
}

/* ======== Zoom Lightbox ========= */

.backdrop {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .0;
	filter: alpha(opacity=0);
	z-index: 50;
	display: none;
}
			
.box {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	background: #ffffff;
	z-index: 51;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 5px #444444;
	-webkit-box-shadow: 0px 0px 5px #444444;
	box-shadow: 0px 0px 5px #444444;
	display: none;
}
		
.close {
	float: right;
	margin-right: 6px;
	cursor: pointer;
}


/* Booklet jQuery Plugin Style*/
.booklet{
	-moz-box-shadow:0px 0px 1px #fff;
	-webkit-box-shadow:0px 0px 1px #fff;
	box-shadow:0px 0px 1px #fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.booklet .b-wrap-left  {
	background:#fff url(images/left_bg.jpg) no-repeat top left;
	background-size:1200px 1200px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.booklet .b-wrap-right {
	background:#efefef url(images/right_bg.jpg) no-repeat top left;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;*/
}

.book_wrapper{
	margin:0 auto;
	padding-top:50px;
	width:905px;
	height:540px;
	position:relative;
	background:transparent url(images/bg.png) no-repeat 9px 27px;
	
}

.book_wrapper p{
	font-size:16px;
	margin:5px 5px 5px 15px;
}

.booklet .b-wrap-right img{
	border:1px solid #E6E3C2;
}
a#next_page_button,
a#prev_page_button{
	display:none;
	position:absolute;
	width:41px;
	height:40px;
	cursor:pointer;
	margin-top:-20px;
	top:50%;
	background:transparent url(../images/buttons.png) no-repeat 0px -40px;
}
a#prev_page_button{
	left:-20px;
}
a#next_page_button{
	right:-20px;
	background-position:-41px -40px;
}
a#next_page_button:hover{
	background-position:-41px 0px;
}
a#prev_page_button:hover{
	background-position:0px 0px;
}
.loading{
	width:160px;
	height:56px;
	position: absolute;
	top:50%;
	margin-top:-28px;
	right:135px;
	line-height:56px;
	color:#fff;
	padding-left:60px;
	font-size:15px;
	background: #000 url(images/ajax-loader.gif) no-repeat 10px 50%;
	opacity: 0.7;
	z-index:9999;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

#flipbook{
    width:400px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
}

#flipbook .page{
    width:400px;
    height:300px;
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    
}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

@media screen and (min-width: 1000px) {
   .bookwrapper {
   	height: 200%;
   	width: 200%;
   }
   #mybook {
   	height: 200%;
   	width: 200%;
   }
   .b-page b-page-0 b-p1 {
   	height: 200%;
   	width: 200%;
   }	
}